.text-link {
    color: inherit !important;
    text-decoration: none !important;
    cursor: pointer !important;
  }
  
  .backgroundColor {
    background-color: rgb(77 101 62 / 50%) !important
  }

/* searchBar box */
.searchBarBox {
  margin-bottom: 16px;
  padding: 10px;
  border-radius: 10px;
}

.searchBarBox, .contentGrid {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* searchBar textfield */
.searchBarTextField {
  width: 100%;
  max-width: 600px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Grid to show content */
.contentGrid {
  margin-left: 30px;
  min-height: 100vh;
  text-align: center;
}

/* id Button in same line */
.idButton {
  display: flex;
  justify-content: space-between;
  width: 100%;
}