.text-link {
    color: inherit !important;
    text-decoration: none !important;
    cursor: pointer !important;
  }
  
  .bgColor {
    background-color: rgb(77 101 62 / 50%) !important
  }

  /* Assuming this CSS is in your stylesheet or CSS module */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Full viewport height */
  text-align: center; /* Optional: Center text */
}

.loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-gif {
  width: 100px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
}
